---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import { render } from 'astro:content';
import '../../styles/blog_post.css';
import '../../styles/blog_global.css';
import '../../styles/global.css'
import Debug from '../../components/debug';
import Navbar from '../../components/Navbar';
import Pretty from '../../components/Pretty';
import GridBG from '../../components/GridBG';

const abc = '⊹₊ ˚‧︵‿₊୨ ᰔ Finished blog post; (finished fact checking and grammar checking) Redecorated blog section ᰔ ୧₊‿︵‧ ˚ ₊⊹'

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
---
<meta charset="UTF-8" />
<div class="absolute top-0 w-full bg-transparent backdrop-blur-md">a
	{import.meta.env.DEV && <Debug client:only/>}
	<Navbar client:only />
	<BlogPost {...post.data}>
		<Content />
	</BlogPost>
</div>
<GridBG client:load />
<Pretty client:only />
