h4 {
    margin-top: 3%; 
    text-align: left;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.25;
    letter-spacing: -0.025em;
    background: linear-gradient(to bottom, #e5e7eb, #9ca3af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}