---
import Layout from '../layouts/LayoutMain.astro'; 
import CV from '../components/CV.jsx';
import Image from '../components/ImageRotator';
--- 

<!DOCTYPE html>
<html lang="en">
<head><title>Iframe Test</title></head>
<body>
    <a href="https://linktr.ee/ItsAllPeachy" target="_blank" rel="noopener noreferrer">Check out my Linktree</a>
</body>
</html>
