---
import type { CollectionEntry } from 'astro:content';
// import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Debug from '../components/debug';
import Layout from '../layouts/LayoutMain.astro'; 
import Navbar from '../components/Navbar';
type Props = CollectionEntry<'blog'>['data'];
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Jords</title>
    </head>
	<body class="bg-black">
		<main class="h-full w-full text-white bg-transparent backdrop-blur-md overflow-x-hidden">
		<article class="relative border-2 border-[#333] m-2 rounded-2xl overflow-hidden">

			<Navbar client:only />

			<div class="hero-image flex justify-center mt-2 p-1"> 
			{heroImage && <img class="h-[96%] w-[96%] border-[#333] border-2 rounded-2xl" src={heroImage} alt="" />}
			</div>
			
			<div class="p-3">
			<h1 class="m-4 text-center font-semibold text-2xl text-transparent bg-gradient-to-b from-gray-200 to-gray-400 leading-tight tracking-tight bg-clip-text">{title}</h1>
			<div class="text-center font-semibold text-1xl text-transparent bg-gradient-to-b from-gray-200 to-gray-400 leading-tight tracking-tight bg-clip-text">
				<FormattedDate date={pubDate} />
				{updatedDate && (
				<div class="last-updated-on">Last updated on <FormattedDate date={updatedDate} /></div>
				)}
			</div>
			</div>
			
			<div class="w-full">
			<hr class="border-[#333] border-1 my-10 w-full" />
			</div>
	
			<div class="p-2">
			<slot />
			</div>
		</article>
		</main>
	</body>
  </html>
  