---
import type { CollectionEntry } from 'astro:content';
// import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Debug from '../components/debug';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				background-color: transparent;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 1020px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		{import.meta.env.DEV && <Debug client:only/>}
		<main>
			<article>
				<div class="hero-image mt-10 mb-10 rounded-2xl">
					{heroImage && <img class="border-2 p-1 border-[#333]" width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="prose border-2 p-1 border-[#333] rounded-2xl">
					<hr class="mb-10"/>
					<div class="title">
						<div class="date underline font-semibold">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="justify-center p-4 flex font-medium w-fit text-transparent bg-gradient-to-b from-gray-200 to-gray-400 leading-tight tracking-tight bg-clip-text text-[clamp(2rem,6vw,3rem)]">{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
